.main-container {
    border: 1px solid rgb(119, 119, 121);
    border-radius: 5px;
}

.heading {
    font-size: 1.8rem;
    font-weight: 600;
}

Label {
    font-weight: 600;
}

@media  (max-width:768px) and (min-width: 360px) {
    .heading {
        font-size: 1.5rem;
    }
}