@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
  text-decoration: none;
}

/* navbar  */
#Logo:hover {
  color: rgb(119, 119, 121);
}

.menu_active {
  font-weight: bold;
  border-bottom: 1px solid #565387;
  
}

.navbar a:hover {
  color: grey;
}

/* navBar SignUp And Login icons */
.logBtns {
  font-size: 1rem;
  margin-right: 0.4rem;
}



.cardHover:hover{
  box-shadow: 0 8px 6px -6px black;
  transition: 1s;
  transform: translateY(-8px);
}